<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Block.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H_Sprite_B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{80,0},{80,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H_Sprite_F.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{160,0},{80,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H_Sprite_L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{240,0},{80,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H_Sprite_R.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{320,0},{80,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Road.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{400,0},{80,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S_Sprite_B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{480,0},{80,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S_Sprite_F.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{560,0},{80,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S_Sprite_L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{640,0},{80,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S_Sprite_R.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{720,0},{80,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>images.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,450}</string>
                <key>spriteSourceSize</key>
                <string>{720,450}</string>
                <key>textureRect</key>
                <string>{{0,100},{720,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Spritesheet.png</string>
            <key>size</key>
            <string>{800,550}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c08ee9a7721fccdb9103b026fb2fe242:79a28e36d2fce374fa76994d40ef1f7b:7fb5f88b53d7b6cca4ba918417bacb47$</string>
            <key>textureFileName</key>
            <string>Spritesheet.png</string>
        </dict>
    </dict>
</plist>
